executor{
    name = 'slurm'
    queueSize = 128
}

params{
    GENOME = 'GCF_015227805.2_bHirRus1.pri.v3_genomic'
    GENOME_SIZE = '1.1g'
    N = '128'
    PREFIX = 'short-read'
    DEPOT = '/depot/fnrdewoody'
    APP = '/home/jeon96/app'
    //SIM = '/scratch/negishi/jeon96/swallow/sim' // used for simulated data
    RefInd = 'bHirRus1_LinPan' // the name to be the reference individual in pangenome construction
    AltInd = 'bHirRus1_alt' // the name for the alternate haplotype of the same sample of the reference genome assembly
    AltHap = 'GCA_015227815.3_bHirRus1.alt.v3_genomic.fna' 
    CACTUS = '/home/jeon96/app/cactus-bin-v2.7.0/bin/'
    MASURCA= '/home/jeon96/app/MaSuRCA-4.1.0/bin/'
    MASURCA_CONFIG_MAPPED = 'masurca_config_mapped.txt'
    MASURCA_CONFIG_UNMAPPED = 'masurca_config_unmapped.txt'
    MASURCA_CONFIG_UNMAPPED2 = 'masurca_config_unmapped2.txt'
}